@import url('https://fonts.googleapis.com/css?family=Arimo');




body {
    height: 8439px;
    background-image: url(bg.png);
    margin-left: auto;
    margin-right: auto;
}

.top-menu:after {
    content: "";
    display: table;
    clear: both;
}
.navbar-logo {
    display: inline-block;
    margin-top: 22px;
}
.menu-main {
  list-style: none;
  margin-top: 22px;
  float: right;
}
.menu-main li {display: inline-block;}
.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 61px;
  padding-left: 52px;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: #ffffff;
  transition:.2s linear;
}
.menu-main a, .menu-main a:visited {color: #ffffff;}
.menu-main a.current, .menu-main a:hover{color: #6FF7C4;}

.menu-main a:hover:before {opacity: 1;}
@media (max-width: 660px) {
.menu-main {
  float: none;
  padding-top: 20px;
}
.top-menu {
  text-align: center;
  padding: 0px 0 0 0;
}
.menu-main a {padding: 0 10px;}
.menu-main a:before {transform: rotate(45deg) translateX(-6px);}
}
@media (max-width: 600px) {
.menu-main li {display: block;}
}



#rectangle{
    width: 31px;
    height: 230px;
    background: #44D19D;
    position: absolute;
    margin-top: 120px;
}

.text1 {
    margin-left: 37px;
    margin-top: 100px;
    font-family: 'Orbitron', sans-serif;
    font-weight: lighter;
    color: #ffffff;
    font-size: 70px;
}

.img1 {
    position: relative;
    margin-left: 858px;
    bottom: 310px;   
}
.img2 {
    position: relative;
    margin-left: 950px;
    bottom: 460px;   
}
.img3 {
    position: relative;
    margin-left: 750px;
    bottom: 750px;   
}
.img4 {
    position: relative;
    margin-left: 1270px;
    bottom: 1080px;   
}
.img5 {
    position: relative;
    margin-left: 1150px;
    bottom: 1330px;   
}
.img6 {
    position: relative;
    margin-left: 1050px;
    bottom: 1530px;   
}
.img7 {
    position: relative;
    margin-left: 680px;
    bottom: 1000px;   
}
.img8 {
    position: relative;
    margin-left: 682px;
    bottom: 990px;
}

.text2 {
    
    font-family: 'Orbitron', sans-serif;
    font-weight: lighter;
    color: #ffffff;
    font-size: 16px;
    margin-top: 45px;
}

.a1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: lighter;
    color: #6FF7C4;
    font-size: 24px;
    background: none;
    border: 3px solid #6FF7C4;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 34px;
    padding-right: 34px;
    position: relative;
    bottom: 350px;
    margin-top: 132px;
    text-decoration: none;
}
.a:hover {
    color: #ffffff; 
}

.text3 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 48px;
    position: relative;
    margin-left: 545px;
    bottom: 750px;
}

.iconblock1 {
    background: linear-gradient(#1E4F3C, #000000);
    position: absolute;
    border: 1px solid #6FF7C4;
    border-radius: 5px;
    transition: transform 300ms ease, box-shadow 300ms ease;
    width: 256;
    height: 510;
    top: 1300px;
    
}
.iconblock1 .icon {
    position: relative;
    margin-top: -14px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}
  
.iconblock1 h3 {
    transition: all 0.7s ease 0s;
    color: #6FF7C4;
    font-size: 32px;
    
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    padding-left: 8px;
    text-align: center;

}    
.iconblock1:hover h3 {
    color: #ffffff;
}  
.iconblock1:hover {
    transform: translateY(-10px);
    box-shadow: 0px 7px 10px 1px rgba(84, 84, 84, 0.5);         
}
.iconblock1:hover .icon svg path {
    stroke: #6FF7C4; 
}

.p {
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    font-weight: lighter;
    padding-left: 8px;
    text-align: center;
    font-size: 13px;
    margin-bottom: 30px;
}

.iconblock2 {
    background: linear-gradient(#1E4F3C, #000000);
    position: absolute;
    border: 1px solid #6FF7C4;
    border-radius: 5px;
    transition: transform 300ms ease, box-shadow 300ms ease;
    width: 256;
    height: 610;
    top: 1300px;
    margin-left: 270px;
    
}
.iconblock2 .icon {
    position: relative;
    margin-top: -14px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}
  
.iconblock2 h3 {
    transition: all 0.7s ease 0s;
    color: #6FF7C4;
    font-size: 32px;
    
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    padding-left: 8px;
    text-align: center;

}    
.iconblock2:hover h3 {
    color: #ffffff;
}  
.iconblock2:hover {
    transform: translateY(-10px);
    box-shadow: 0px 7px 10px 1px rgba(84, 84, 84, 0.5);         
}
.iconblock2:hover .icon svg path {
    stroke: #6FF7C4; 
}

.p1 {
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    font-weight: lighter;
    padding-left: 8px;
    text-align: center;
    font-size: 13px;
    margin-bottom: 78px;
    padding-bottom: 12px;
}
.iconblock3 {
    background: linear-gradient(#1E4F3C, #000000);
    position: absolute;
    border: 1px solid #6FF7C4;
    border-radius: 5px;
    transition: transform 300ms ease, box-shadow 300ms ease;
    width: 256;
    height: 610;
    top: 1300px;
    margin-left: 540px;
    
}
.iconblock3 .icon {
    position: relative;
    margin-top: -14px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}
  
.iconblock3 h3 {
    transition: all 0.7s ease 0s;
    color: #6FF7C4;
    font-size: 32px;
    
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    padding-left: 8px;
    text-align: center;

}    
.iconblock3:hover h3 {
    color: #ffffff;
}  
.iconblock3:hover {
    transform: translateY(-10px);
    box-shadow: 0px 7px 10px 1px rgba(84, 84, 84, 0.5);         
}
.iconblock3:hover .icon svg path {
    stroke: #6FF7C4; 
}

.p1 {
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    font-weight: lighter;
    padding-left: 8px;
    text-align: center;
    font-size: 13px;
    margin-bottom: 78px;
}
.iconblock4 {
    background: linear-gradient(#1E4F3C, #000000);
    position: absolute;
    border: 1px solid #6FF7C4;
    border-radius: 5px;
    transition: transform 300ms ease, box-shadow 300ms ease;
    width: 256;
    height: 610;
    top: 1300px;
    margin-left: 810px;
    
}
.iconblock4 .icon {
    position: relative;
    margin-top: -14px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}
  
.iconblock4 h3 {
    transition: all 0.7s ease 0s;
    color: #6FF7C4;
    font-size: 32px;
    
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    padding-left: 8px;
    text-align: center;

}    
.iconblock4:hover h3 {
    color: #ffffff;
}  
.iconblock4:hover {
    transform: translateY(-10px);
    box-shadow: 0px 7px 10px 1px rgba(84, 84, 84, 0.5);         
}
.iconblock4:hover .icon svg path {
    stroke: #6FF7C4; 
}

.p2 {
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    font-weight: lighter;
    padding-left: 8px;
    text-align: center;
    font-size: 13px;
    margin-bottom: 51px;
}
.iconblock5 {
    background: linear-gradient(#1E4F3C, #000000);
    position: absolute;
    border: 1px solid #6FF7C4;
    border-radius: 5px;
    transition: transform 300ms ease, box-shadow 300ms ease;
    width: 256;
    height: 610;
    top: 1300px;
    margin-left: 1080px;
    
}
.iconblock5 .icon {
    position: relative;
    margin-top: -14px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}
  
.iconblock5 h3 {
    transition: all 0.7s ease 0s;
    color: #6FF7C4;
    font-size: 32px;
    
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    padding-left: 8px;
    text-align: center;

}    
.iconblock5:hover h3 {
    color: #ffffff;
}  
.iconblock5:hover {
    transform: translateY(-10px);
    box-shadow: 0px 7px 10px 1px rgba(84, 84, 84, 0.5);         
}
.iconblock5:hover .icon svg path {
    stroke: #6FF7C4; 
}

.text4 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 48px;
    position: relative;
    left: 250px;
    margin-bottom: 119px;
    margin-top: 870px;
}

.color {
    color: #44D19D;
}

.iconblock6 {
    position: relative;
    border: 1px solid #6FF7C4;
    border-radius: 5px;
    transition: transform 300ms ease, box-shadow 300ms ease;
    margin-top: 35px;
    height: 370px;
}
.iconblock6 .icon {
    position: relative;
    margin-top: -14px;
    margin-left: -270px;
    margin-right: 5px;
    margin-bottom: 0px;
}
.iconblock6 .icon1 {
    position: relative;
    margin-top: -14px;
    margin-left: 740px;
    margin-right: 5px;
    margin-bottom: -50px;
}
  
.iconblock6 h3 {
    transition: all 0.7s ease 0s;
    color: #6FF7C4;
    font-size: 32px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    padding-left: 8px;
    text-align: left;
    margin-left: 580px;
    margin-top: 60px;
    position: relative;
    bottom: 300px;
}
.iconblock6 .h31 {
    transition: all 0.7s ease 0s;
    color: #6FF7C4;
    font-size: 32px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    padding-left: 8px;
    text-align: left;
    margin-left: 26px;
    position: relative;
    bottom: 300px;
}

.ntext {
    margin-left: 588px;
    position: relative;
    bottom: 300px;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Orbitron', sans-serif;
    font-weight: lighter;
}
.ntext1 {
    margin-left: 34px;
    position: relative;
    bottom: 300px;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Orbitron', sans-serif;
    font-weight: lighter;
}

.text5 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 48px;
    position: relative;
    left: 250px;
    margin-bottom: 119px;
    margin-top: 209px;
}

.textblock {
    position: relative;
    border: 1px solid #6FF7C4;
    border-radius: 5px;
    transition: transform 300ms ease, box-shadow 300ms ease;
    margin-top: 35px;
    height: 121px;
}
.textblock h2 {
    color: #ffffff;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    margin-top: 30px;

}

.business1 {
    background: linear-gradient(#1E4F3C, #000000);
    position: relative;
    border: 1px solid #6FF7C4;
    border-radius: 5px;
    transition: transform 300ms ease, box-shadow 300ms ease;
    width: 640px;
    height: 794px;
    margin-top: 74px;
    
}
.business1 .icon {
    position: relative;
    margin-top: -74px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -50px;
}
.business1 h3 {
    color: #ffffff;
    text-align: left;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 51px;
    margin-left: 62px;
}
.business2 {
    background: linear-gradient(#1E4F3C, #000000);
    position: relative;
    border: 1px solid #6FF7C4;
    border-radius: 5px;
    transition: transform 300ms ease, box-shadow 300ms ease;
    width: 640px;
    height: 794px;
    margin-top: 74px;
    margin-left: 740px;
    bottom: 870px;
    
}
.business2 .icon {
    position: relative;
    margin-top: -74px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -50px;
}
.business2 h3 {
    color: #ffffff;
    text-align: left;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 51px;
    margin-left: 62px;
}
.business3 {
    background: linear-gradient(#1E4F3C, #000000);
    position: relative;
    border: 1px solid #6FF7C4;
    border-radius: 5px;
    transition: transform 300ms ease, box-shadow 300ms ease;
    width: 640px;
    height: 317px;
    margin-top: 970px;
    bottom: 1700px;
    
    
}
.business3 .icon {
    position: relative;
    margin-top: -219px;
    margin-left: -89px;
    margin-right: -89px;
    margin-bottom: -50px;
}
.business3 h3 {
    color: #ffffff;
    text-align: left;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 24px;
    position: relative;
    margin-bottom: 51px;
    margin-left: 130px;
    bottom: 100px;
}
.business4 {
    background: linear-gradient(#1E4F3C, #000000);
    position: relative;
    border: 1px solid #6FF7C4;
    border-radius: 5px;
    transition: transform 300ms ease, box-shadow 300ms ease;
    width: 640px;
    height: 317px;
    margin-top: 970px;
    margin-left: 742px;
    bottom: 2989px;
    
    
}
.business4 .icon {
    position: relative;
    margin-top: -219px;
    margin-left: -89px;
    margin-right: -89px;
    margin-bottom: -50px;
}
.business4 h3 {
    color: #ffffff;
    text-align: left;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 24px;
    position: relative;
    margin-bottom: 51px;
    margin-left: 130px;
    bottom: 100px;
}
.business5 {
    position: relative;
    border: 1px solid #6FF7C4;
    border-radius: 5px;
    transition: transform 300ms ease, box-shadow 300ms ease;
    height: 288px;
    width: 1382px;
    bottom: 2900px;
}
.business5 .icon {
    position: relative;
    margin-top: -131px;
    margin-left: -270px;
    margin-right: 5px;
    margin-bottom: -50px;
}
  
.business5 h3 {
    color: #ffffff;
    font-size: 24px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    padding-left: 8px;
    text-align: left;
    margin-left: 699px;
    margin-bottom: 85px;
    position: relative;
    bottom: 300px;
}
.business6 {
    position: relative;
    border: 1px solid #6FF7C4;
    border-radius: 5px;
    transition: transform 300ms ease, box-shadow 300ms ease;
    margin-top: 50px;
    height: 288px;
    width: 1382px;
    bottom: 2900px;
    
}
.business6 .icon {
    position: relative;
    margin-top: -131px;
    margin-left: 698px;
    margin-right: 5px;
    margin-bottom: -50px;
}
  
.business6 h3 {
    color: #ffffff;
    font-size: 24px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    padding-left: 8px;
    text-align: left;
    margin-left: 85px;
    position: relative;
    bottom: 290px;
}

.btn-group a {
    color: #909090;
    font-family: 'Orbitron', sans-serif;
    font-weight: medium;
    text-align: center;
    text-decoration: none;
    margin-right: 28px;
    transition: transform .1s;
}
.btn-group h3 {
    font-size: 13px;
}
.btn-group a:not(:last-child) {
    border-right: none;
}
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
.btn-group a:hover {
    transform: scale(1.2);
}

.futt {
    color: #ADADAD;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    text-align: right;
    font-size: 16px;
    position: relative;
    bottom: 70px;
}

.icons {
    position: relative;
    bottom: 800px;
}

.futer {
   
}